body {
  background: #1D8DFF;
  background-repeat: no-repeat;
  transition: all .25s;
  font-family: 'Shrikhand', cursive;
  color: #FFF;
}
h1 {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}

